body{
    margin:0;
    padding: 0;
    background-color: #000;
}

header{
    display:flex;
    justify-content: center;
}

div > nav {
    margin-top:10px;
    position: fixed;
}

.bg-light {
    background-color: rgba(0, 0, 0, 0.096) !important;
    color: #fff;
}

nav a {
    color:#fff !important;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.096) !important;
}

.navbar-brand{
    color:rgb(204, 32, 32) !important;
}

footer {
    height: 100px;
    background-color: rgb(3, 3, 3);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer div a img{
    
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    margin:10px;
    width: 30px;
    height: 30px;
}


footer a {
color: black;
text-decoration: none;
margin: 10px;
}

.aside{
    background-color: black;
}
.tittle{
    color: rgb(6, 8, 10);
    font-size: .90rem;
    text-align: center;
    background-color: rgb(96, 98, 105);
    border-radius: 3px;
    margin-bottom: 1.25rem;
}
